* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #f2f2f2;
    font-size: 3rem;
    font-weight: 400;
}

h1, h2, h3, h4, h5, p {
    color: #f2f2f2;
}


p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
}

/*menu part*/

#logo {
    width: 70px;
    height: auto;
}

.header {
    transition: background-color .3s ease;
    background-color: #FFBF00;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw 0 15vw;
    position: fixed;
    z-index: 999;
    top: 0;
}

.header #logo {
    transition: filter .3s ease;
}

main {
    width: 80%;
    margin-left: 10%;
}

.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: #1e1e1e;
    margin: 3px 0;
    transition: .4s;
}

.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-links {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #FFBF00;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    z-index: 8;
}

.menu-links.show {
    transform: translateY(100%);
    transition: .3s ease-in;
    height: 100vh;
    overflow-y: auto;
}

.menu-links a {
    margin-top: 15px;
    margin-right: 50px;
    font-size: .9rem;
    text-decoration: none;
    color: #1e1e1e;
    text-align: right;
    padding: 5px;
    position: relative;
}

.menu-links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width .3s ease;
}

.menu-links a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
}

.menu-links a:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}


.menu.change + .menu-links {
    display: flex;
    transform: translateY(0);
}

/* menu horizontal links */

@media only screen  and (min-width:930px) {
    .menu {
        display: none;
    }

    .menu-links {
        position: relative;
        top: auto;
        right: auto;
        background-color: transparent;
        width: auto;
        height: auto;
        overflow: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-links.show {
        transform: translateY(0);
        height: auto;
    }

    .menu-links a {
        margin: 0 20px;
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    opacity: 0; /* Set initial opacity to 0 */
    visibility: hidden; /* Hide dropdown content by default */
    position: absolute; /* Position dropdown content */
    background-color: #f9f9f9; /* Dropdown background color */
    min-width: 160px; /* Set minimum width of dropdown content */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Add shadow to dropdown */
    z-index: 1; /* Set z-index to make sure the dropdown appears above other elements */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Add transition for smooth appearance */
    border-radius: 5px;
    overflow: hidden;
  }
  
  /* Links Inside the Dropdown */
  .dropdown-content a {
    color: #333; /* Link text color */
    padding: 12px 16px; /* Link padding */
    text-decoration: none; /* Remove default underline */
    text-align: left;
    display: block; /* Display links as block elements */
  }
  
  /* Change Link Color on Hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1; /* Background color on hover */
  }
  
  /* Show Dropdown Content When Hovering or Focusing on Dropdown Button */
  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content {
    opacity: 1; /* Show dropdown content when hovering or focusing */
    visibility: visible;
  }

  .dropbtn {
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 10px 20px;
  }

  /* hero section */

  #hero-section {
    height: 100vh;
    width: 100%;
    background: url('../images/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

#hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.text-container-hero-section {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container-hero-section p {
    padding-bottom: 100px;
}

.primary-btn {
    background-color: #FFBF00;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}